api/__pycache__/
api/migrations/*
!api/migrations/__init__.py

canhemon/__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# PyCharm and Aptana files
.idea
.project
.pydevproject
.settings/

# Komodo Editor files
*.komodoproject
.komodotools/

# vscode
.vscode/

# Django
*.log
*.log.*
*.out
.venv
venv/
.vtree
vtree/
debug.log
/static/
web/static/*
docs/
web/canhemon/settings.py
media/
*.pyc
.env

