
-f /usr/share/pip-wheels
astroid
Django==3.2.16
django-cors-headers
django-filter
djangorestframework
djangorestframework-jwt
isort
lazy-object-proxy
Markdown
mccabe
mysqlclient
Pillow
psycopg2
psycopg2-binary
PyJWT
pylint
pytz
six
typed-ast
wrapt
